.haveSomeQuestions-section {
    background-color: #EAEAEA;
    padding: 50px 0;
}

.haveSomeQuestions-section h1 {
    color: #15304E;
    font-weight: 700;
}

.questions-para {
    padding: 0 50px !important;
}

.questions-div {
    background-color: white;
    width: 295px;
    height: 91px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.question-icon {
    background-color: #F3BC00;
    border-radius: 50%;
    padding: 15px;
    margin-left: -20px;
}

.haveSomeQuestions-section a {
    text-decoration: none;
    color: #000000;
    margin-right: 30px;
}